{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "PYTHON_ISOLATE_WORKER_DEPENDENCIES": "1",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AZURE_OPENAI_ENDPOINT": "",
    "AZURE_OPENAI_API_KEY": "",
    "LLM2_ENDPOINT": "",
    "LLM2_API_KEY": "",
    "EMBEDDING_ENDPOINT": "",
    "EMBEDDING_API_KEY": "",
    "GPT41_MINI_JAPANEAST_ENDPOINT": "",
    "GPT41_MINI_JAPANEAST_API_KEY": "",
    "GPT41_MINI_JAPANEAST_DEPLOYMENT": "gpt-4-1-mini-japaneast",
    "GPT41_MINI_JAPANEAST_API_VERSION": "2025-01-01-preview",
    "APPINSIGHTS_INSTRUMENTATIONKEY": "",
    "MONITORING_ENABLED": "true"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*",
    "CORSCredentials": false
  }
}